.parent{
  text-align: center;
    width: 400px;
  margin: 50px auto;
  border: 2px solid blueviolet;

}
.childOne{

  width: 150px;
  color: blue;
}
.childTwo{
 
  width: 250px;
  color: rgb(61, 208, 159);
}